.register-pageA{
    width: 500px;
    height: 947px;
}
.register-text{
    margin-top: 22px;
    margin-bottom: 25px;
}
.remember{
color:#84B59F;
}
.btn-register{
background-color: #84B59F;
font-weight: 700;
}
.btn-facebook{
    width: 388px;
    background-color: #485A96;
    margin-bottom: 26px;
}
.btn-googleR{
    margin-bottom: 24px;
    width: 388px;
    background-color: #79ACFF;
}
.register-page{
    font-size: 20px;
    font-weight: 500;
}