.brightness-dog { filter: brightness(0.90); }
.brightness-dog:hover { filter: brightness(1.100); }

   @media only screen and (max-width: 360px) and (min-width: 300px) 
    {
        .single-products-dog{
            height: 320px;
           }
   }
   @media only screen and (max-width: 767px) and (min-width: 361px) 
    {
        .single-products-dog{
            height: 520px;
           }
   }

   @media only screen and (max-width: 1023px) and (min-width: 768px) 
    {
        .single-products-dog{
            height: 500px;
           }
   }
   @media only screen and (max-width: 1535px) and (min-width: 1024px) 
    {
        .single-products-dog{
            height: 550px;
           }
   }
   @media only screen and (max-width: 2560px) and (min-width: 1536px) 
    {
        .single-products-dog{
            height: 600px;
           }
   }
   @media only screen and (max-width: 4000px) and (min-width: 2561px) 
    {
        .single-products-dog{
            height: 850px;
           }
   }
