.brightness { filter: brightness(0.90); }
.brightness:hover { filter: brightness(1.100); }
.inStock{
    color: var(--theme-colors-state-info, #4255F9);
}
    .btn-cart{
    padding: 12px 18px;
    border-radius: 8px;
    background: var(--neutral-07, #0B0112);
    color: white;
    margin-right: 25px;
   }
   .btn-wishList{
    color: black;
   }

    .foodDetails-border{
        margin-left: 312px;
        margin-right: 312px;
        height: 420px;
       }
    .food-btn:hover{
       color: red;
       border-color: #84B59F;
       }
    .RelatedProduct{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 36px;
    }
    .relatedProFood{
        margin-left: 212px;
    }