.single-products-clearance{
    height: 460px;
   }
.single-product-body-clearance{
    background-color: #F9FCEA;
   }

   .single-product-body-clearance:hover{
    border-radius: 8px;
    background: var(--neutral-01, #FFF);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
   }