.single-products-product{
    height: 460px;
   }
.single-product-body-product{
    background-color: #F9FCEA;
   }
.single-product-body-product:hover{
    border-radius: 8px;
    background: var(--neutral-01, #FFF);
    box-shadow: 0px 8px 48px 0px rgba(0, 0, 0, 0.08);
   }