.brightness-cat { filter: brightness(0.90); }
.brightness-cat:hover { filter: brightness(1.100); }



  @media (min-width: 10px) { 
    .single-products-product{
        height: 468px;
       }
}
  @media (min-width: 640px) { 
    .single-products-product{
        height: 535px;
       }
}
	@media (min-width: 768px) { 
        .single-products-product{
        height:485px;
       } }
	@media (min-width: 1024px) { 
        .single-products-product{
        height:515px;
       } }
	@media (min-width: 1280px) { 
        .single-products-product{
        height:490px;
       } }
	@media (min-width: 1536px) { 
        .single-products-product{
        height:650px;
       } }
	@media (min-width: 2851px) { 
        .single-products-product{
        height:700px;
       } }
	@media (min-width: 3135px) { 
        .single-products-product{
        height:750px;
       } }