.clearance-food-text{
    color:#ADC178 ;
}    
.clearance-paragraph{
    margin-top: 8px;
}
.clearance-finger{
    padding: 0;
    margin: 0;
    width: 311px;
    color: black;
}
.clearance-finger-img{
    width: 145px;
    height: 145px;
    margin-left: 30px;
    margin-top: 220px;
    color: black;
}
 .clearance-bone{
    padding: 0;
    margin: 0;
    width: 312px;
   }
.clearance-bone-img{
    width: 183px;
    height: 183px;
    padding-right: 15px ;
}
.clearance-see-all{
    color:#ADC178  ;
}
/* clearance end */


    