    /* Clearance Sale */
       

    .Clearance-text{
        color:#2EC4B6;
    }
    .btn-cart1{
background-color:#2EC4B6 ;
color: white;
    }
    .cat-bon1-img{
        width: 145px;
        height: 145px;
        margin-left: 30px;
        margin-top: 520px;
    }
    .cat-fing1-img{
        width: 183px;
        height: 183px;
        padding-right: 45px;
        margin-top: 220px;
    }
    .clear-see-all{
        color:#2EC4B6;

    }
    