.single-products-litters{
    height: 460px;
   }
.single-product-body-litters{
    background-color:#FFF5EC;
   }
   .btn-cart-litters{
    border-radius: 8px;
    background: var(--theme-colors-primary, #7209B7);
    color: white;
   
   }
