.single-product-litters{
    width: 298px;
    height: 297px;
    background-color:#FFF5EC;
}
.litters-text{
    color:#EAA367 ;
}
.btn-litter{
    background-color: #EAA367;
    color: white;
}
.litter-see-all{
    color:#EAA367 ;
}
