.btn-2:hover {
  letter-spacing: 2px;
}
.catFood-Banners{
    position: relative;
}
.catFood-Banners:before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(29, 29, 29, 0.7);
    height: 100%;
    width: 100%;
}
.catFood-Banners img{
    width: 100%;
    
}
.catFood-banner-texts{
    margin-left:824px ;
}
@media only screen and (max-width: 1440px) and (min-width: 769px)  {
    .catFood-banner-texts{
        margin-left:624px ;
    }
    
}
@media only screen and (max-width: 768px) and (min-width: 350px)  {
    .catFood-banner-texts{
        margin-left:100px ;
    }
    .catFood-Banners img{
       height: 150px;
    }
}


