.banner-height{
    height: 448px;
}
.product-food-text{
    color:#ADC178 ;
}

.product-paragraph{
    margin-top: 8px;
}

.product-finger{
    padding: 0;
    margin: 0;
    width: 311px;
    color: black;
}

.product-finger-img{
    width: 145px;
    height: 145px;
    margin-left: 30px;
    margin-top: 220px;
    color: black;
}
.product-see-all{
    color:#7209B7  ;
}

.product-bone{
    padding: 0;
    margin: 0;
    width: 312px;
}

.product-bone-img{
    width: 183px;
    height: 183px;
    padding-right: 15px ;
}