.cart-shadow{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);

}
.cart-product{
    display: flex;
}
.cart-product-body-img{
    background-color: #E6F9FA;
}

.cart-upAndDown{
    background: #F4FBF8;
    color: #7209B7;
}
.cart-order-btn{
    color: white;
    background: #7209B7;
    border-radius: 2px;
}
.totalProduct-height-cart{
    max-height: 640px;
}

